* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.footer_box {
    width: 100%;
    height: 224px;
    background-color: #22242A;
    display: flex;
    justify-content: space-between;
}

.logo_section {
    height: 224px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 76px;
    height: 86px;
}

.nav_bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    /* border-bottom: 1px solid #FFFFFF; */

}

.nav_bar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.down_navbar {
    /* width: 100%; */
    height: 100px;
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
    /* background-color: #22242A; */
}


.down_navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.right_footer_box {
    padding-right: 30px;
}

.search_bar form {
    display: flex;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
}

.search {
    width: 202px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
}

.svg {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.search_icon {
    background-color: #FFFFFF;
    /* height: 35px;
    display: flex;
    align-items: center;
    justify-content: center; */
    padding: 5.5px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    outline: none;
}